

body {
    background-color: #3945b9;
    color: white;
  }
  h2 {
    color: #ff216e;
  }
  .menu-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu-item {
    margin: 1em;
    width: 27.5%;
    padding: 1em;
    background-color: rgba(255,255,255,.20);
  }
  .menu-item > h3 {
    float: left;
  }
  .menu-item > p {
    float: right;
    padding-top: 6px;
  }